# Folders to ignore
asm/
assets/
astralsorcery/
backup mods/
backups/
cache/
crash-reports/
downloads/
intelij sources/
journeymap/
lib/
local/
logs/
mods/
patchouli_books/
saves/
shaderpacks/
spectial textures/
visualores/
.idea/

# Files to ignore
*.curseclient
BotaniaVars.dat
crafttweaker.log
Gregtech Higher and Higher.iml
hs_err_pid17124.log
hs_err_pid23720.log
jei_bookmarks.ini
options.txt
patchouli_data.json
usercache.json
usernamecache.json
config\AppliedEnergistics2\VersionChecker.cfg
config\jei\worldSettings.cfg
config\splash.properties
config\thaumicjei_itemstack_aspects.json
config\brandon3055\contributors.json
config\astralsorcery.cfg
config\Guide-API\Guide-API.cfg