# Configuration file

general {
    S:"Blocked Message"=Please click %item% on portal to enter the %dim%
    S:"Consumable Portal Block Whitelist"=minecraft:portal,minecraft:end_portal,twilightforest:twilight_portal,aether_legacy:aether_portal

    # Right Click item on Portal Rather than Craft [default: false]
    B:"Consume item rather than craft"=true
    S:"Crafted Items"=contenttweaker:nether_key,contenttweaker:end_key,contenttweaker:twilight_key,contenttweaker:aether_key
    S:"Crafted Message"=%dim% Unlocked!
    S:"Dimension IDs"=-1,1,7,4
    S:"Dimension Names"=Nether,End,Twilight,Aether

    # Teleports player to Spawn or their bed when trying to enter a End portal [default: true]
    B:"Prevent End Portal Death"=true
}


